<a href="https://colab.research.google.com/github/HFOURM/Pratikum-Algoritma/blob/main/Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Weekly Exercise 1

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2*(panjang+lebar)
luas = panjang*lebar
volume = panjang*lebar*tinggi
print("Panjang = " , str(panjang))
print("Lebar = " , str(lebar))
print("Tinggi = " , str(tinggi))
print("Keliling = " , int(keliling))
print("Volume = " , int(volume))

Panjang =  20.5
Lebar =  25
Tinggi =  10
Keliling =  91
Volume =  5125

Weekly Exercise 2

In [55]:
#Data mahasiswa
data_mhs = {
    'sk'  : 85 , 'sm'  : 75,
    'amk' : 80 , 'amm' : 90,
    'adk' : 75 , 'adm' : 80,
    'nk'  : 95 , 'nm'  : 80,
    'wk'  : 85 , 'wm'  : 85,
    'hfk' : 75 , 'hfm' : 90,
    'ank' : 70 , 'anm' : 75,
    'dk'  : 85 , 'dm'  : 85,
    'hk'  : 80 , 'hm'  : 75
}
#Keterangan untuk Variabel :
#sk  = nilai Shafira Kalkulus 1 ; sm = nilai Shafira Metode Statistika ; amk = nilai Amanda Kalkulus 1 ; amm = nilai Amanda Metode Statistika
#adk = nilai Aditya Kalkulus 1 ; adm = nilai Aditya Metode Statistika ; nk =  nilai Nedia Kalkulus 1 ; nm = nilai Nedia Metode Statistika
#wk = nilai Widya Kalkulus 1 ; wm = nilai Widya Metode Statistika ; hfk = nilai Hanif Kalkulus 1 ; hfm = nilai Hanif Metode Statistika
#ank = nilai Andi Kalkulus 1 anm = nilai Andi Metode Statistika; dk = nilai Dhanar Kalkulus 1; dm = nilai Dhanar Metode Statistika
#hk = nilai Hikma Kalkulus 1; hm = nilai Hikma Metode Statistika


#Jawaban no 1
avgSha = (data_mhs['sk'] + data_mhs['sm']) / 2
#Jawaban no 2
sumHA = data_mhs['hfk'] + data_mhs['hfm'] + data_mhs['ank'] + data_mhs['anm']
#Jawaban no 3
avgkal1_3 = (data_mhs['wk'] + data_mhs['dk'] + data_mhs['hfk'] + data_mhs['nk']) / 4
avgsta_3 = (data_mhs['wm'] + data_mhs['dm'] + data_mhs['hfm'] + data_mhs['nm']) / 4
#Jawaban no 4
avgkal1_4 = (data_mhs['sk'] + data_mhs['amk'] + data_mhs['adk'] + data_mhs['nk'] +
             data_mhs['wk'] + data_mhs['hfk'] + data_mhs['ank'] + data_mhs['dk'] + data_mhs['hk']) / 9
#Jawaban no 5
avgsta_4 =  (data_mhs['sm'] + data_mhs['amm'] + data_mhs['adm'] + data_mhs['nm'] +
             data_mhs['wm'] + data_mhs['hfm'] + data_mhs['anm'] + data_mhs['dm'] + data_mhs['hm']) / 9

print("1.Rata-rata nilai Shafira pada Kedua mata kuliah adalah" , avgSha)
print("2.Jumlah nilai Hanif dan Andi untuk semua mata kuliah adalah" , sumHA)
print("3.Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada masing-masing mata kuliah adalah" , avgkal1_3 ,"Untuk Kalkulus dan", avgsta_3 ,"Untuk Statistika")
print("4.Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa" , avgkal1_4)
print("5.Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa" , avgsta_4)

1.Rata-rata nilai Shafira pada Kedua mata kuliah adalah 80.0
2.Jumlah nilai Hanif dan Andi untuk semua mata kuliah adalah 310
3.Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada masing-masing mata kuliah adalah 85.0 Untuk Kalkulus dan 85.0 Untuk Statistika
4.Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa 81.11111111111111
5.Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa 81.66666666666667

Weekly Exercise 3

In [76]:
#data yang dimiliki
jam_kerja_per_hari = 8
upah_per_jam = 30000
tunjangan_persen = 0.10
upah_lembur_per_jam = 10000
jumlah_hari_agustus = 31
hari_tidak_masuk = 3
jam_lembur = 5

#total jam kerja
hari_kerja = jumlah_hari_agustus - hari_tidak_masuk
total_jam_kerja = hari_kerja * jam_kerja_per_hari

#gaji bulanan
gaji_bulanan = total_jam_kerja * upah_per_jam

#tunjangan
tunjangan = tunjangan_persen * gaji_bulanan

#gaji lembur
gaji_lembur = jam_lembur * upah_lembur_per_jam

#total gaji bulan agustus denngan lembur
gaji_total = gaji_bulanan + gaji_lembur

#output
print("Gaji pada bulan Agustus adalah Rp " , gaji_bulanan)
print("Tunjangan yang diterima adalah Rp " , tunjangan)
print("Gaji total bulan Agustus gaji dengan lembur adalah Rp" , gaji_total)

Gaji pada bulan Agustus adalah Rp  6720000
Tunjangan yang diterima adalah Rp  672000.0
Gaji total bulan Agustus gaji dengan lembur adalah Rp 6770000